<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sunburst Chart</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1><b>Pet Adoption Dashboard</b></h1>
      </div>
    </div>
    <div class="container">
      <div id='map'><!-- Plotly chart will be drawn inside this DIV -->
      </div>
    </div>
  <footer class="footer"></footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='sunburst.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='cats_data.json') }}"></script> -->
  <script type="text/javascript">
    /* data = displayData({{pets_data|tojson}}) */
    map = createMap({{pets_data|tojson}})
  </script>
  </body>

</html>
