<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sunburst Chart</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="Styles.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1><b>Pet Adoption Dashboard</b></h1>
      </div>
    </div>
    <div class="container">
      <div id='myDiv'><!-- Plotly chart will be drawn inside this DIV -->
      </div>
    </div>
  <footer class="footer">
    <div class="container">
      <address>
        <p class="text text-left">Author Github:
        <a href="https://github.com/elizabethschall2934" target="_blank">https://github.com/elizabethschall2934
        </a></address>
        <small>© Copyright Elizabeth S</br>
        </small>
      </p>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="sunburst.js"></script>
  </body>

</html>
